/*
* Jasmine MacFarlane
* 03/28/2018
* CSS Practice
*/


/* The universal selector */

* {

}

/* Put body attributes here */

body { background-color: violet;color: 000000; font-family: Arial, Helvetica, sans-serif;

}

h1 { text-align: center; text-decoration: underline overline;
 }
 
img {float: right;
}